.all-container {
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.title1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 100px;
  padding-top: 30px;
  font-family: 'klee',sans-serif;
}

.create_button {
  height: 75px;
  width: 225px;
  font-size: 25px;
  text-decoration: none;
  background-color: teal;
  color: white;
  margin-left: 620px;
  border: 2px solid white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 11px 35px 2px whitesmoke;
          box-shadow: 0px 11px 35px 2px whitesmoke;
  font-family: 'klee',sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #03a9f4;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid black;
  width: 66vw;
  margin-left: 240px;
}

.list :first-child {
  margin-top: 65px;
  font-weight: bold;
  font-size: 20px;
}

.list .content {
  margin-top: 65px;
  margin-left: 75px;
  font-weight: bold;
  font-size: 20px;
}

.list .content2 {
  margin-top: 65px;
  margin-left: 95px;
  font-weight: bold;
  font-size: 20px;
}

.graph {
  width: 66vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
  margin-left: 240px;
  position: relative;
}

.graph .states {
  height: 40%;
  width: 90px;
  text-align: center;
  line-height: 230%;
  border-top: 1px solid black;
  border-radius: 4px;
  background-color: #c1e4ff;
  color: black;
  -webkit-box-shadow: 0px 1px 2px 0px black;
          box-shadow: 0px 1px 2px 0px black;
  cursor: pointer;
}

.graph .states:hover {
  background-color: teal;
}

.graph .limit {
  margin-left: 20px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.graph .tasks {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.graph .todo-edit-btn {
  position: absolute;
  top: 35px;
  right: 90px;
}

.graph .todo-edit-btn:hover {
  background-color: orange;
}

.graph .fix {
  position: absolute;
  right: 110px;
}

.graph .delete-btn {
  position: absolute;
  top: 35px;
  right: 0px;
}

.graph .delete-btn:hover {
  background-color: orange;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.first-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: absolute;
  right: 175px;
  top: 37.5px;
  color: cadetblue;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.material-icons2 {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: cadetblue;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.material-icons3 {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: cadetblue;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
/*# sourceMappingURL=todo.index.css.map */