

<%= render "shared/header2" %>
<div class="world-container">
<div class="container">
<section>
    <h3 id="place"></h3>
    <div  id="now">
        <div id="weather">
        </div>
    </div>
    <table id="forecast">
    </table>
</section>
</div>
</main>
<footer>
<div class="container">
<p>your diary</p>
</div>
</div>